* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: #ecf0f3;
    height: 100vh;
}

.logo {
    font-family: fantasy;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    font-size: 50px;
}